body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

thead{
  background-color: aqua;

}
button {
  background-color: rgb(43, 34, 124);
  color: aliceblue;
}

tr:hover{
background-color: rgba(0, 0, 255, 0.591);

}

form{
  text-align: center;

}

#root{
  background-color: rgb(129, 128, 128);
}

input{
  text-align: center;
  background-color: transparent;
  color: rgb(5, 52, 224);

}

input:hover{
background-color: rgb(255, 255, 255);
}